[Unit]
Description=Node.js script to update domain IP address

[Service]
ExecStartPre=/usr/bin/bash -c "/usr/bin/systemctl set-environment NPMGLOBALPATH=$(npm config get prefix)"
ExecStart=/usr/bin/nodejs  $(NPMGLOBALPATH)/pi-online
Restart=always
RestartSec=600
SyslogIdentifier=pionline


[Install]
WantedBy=multi-user.targetnpm 